#Preprocesado para el archivo train

Se instala la librería opendatasets para abrir el archivo de kaggle

In [ ]:
!pip install opendatasets
import opendatasets as od
dataset_link="https://www.kaggle.com/competitions/udea-ai4eng-20242/overview"
od.download(dataset_link)

Requirement already satisfied: opendatasets in /usr/local/lib/python3.10/dist-packages (0.1.22)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.66.6)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.6.17)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2024.8.30)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.2.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.10)
Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: andresh7
Your Kaggle Key: ··········
Downloading udea-ai4eng-20242.zip to ./udea-ai4eng-20242

100%|██████████| 20.1M/20.1M [00:00<00:00, 106MB/s]

Extracting archive ./udea-ai4eng-20242/udea-ai4eng-20242.zip to ./udea-ai4eng-20242

Se muestran los archivos subidos a Google Colab

In [ ]:
import os
os.chdir("udea-ai4eng-20242")
os.listdir()

['submission_example.csv', 'test.csv', 'train.csv']

Se importa pandas y se asignan varibales

In [ ]:
import pandas as pd
df_train=pd.read_csv("train.csv")
df_test=pd.read_csv("test.csv")

Se muestran las primeras 5 filas del archivo train

In [ ]:
df_train.head()

,ID,PERIODO,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL
0,904256,20212,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Postgrado,No,medio-alto
1,645256,20212,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Técnica o tecnológica incompleta,No,bajo
2,308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,No,bajo
3,470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Secundaria (Bachillerato) completa,No,alto
4,989032,20212,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Primaria completa,No,medio-bajo

Se muestra información sobre las columnas

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692500 entries, 0 to 692499
Data columns (total 12 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID                              692500 non-null  int64
 1   PERIODO                         692500 non-null  int64
 2   ESTU_PRGM_ACADEMICO             692500 non-null  object
 3   ESTU_PRGM_DEPARTAMENTO          692500 non-null  object
 4   ESTU_VALORMATRICULAUNIVERSIDAD  686213 non-null  object
 5   ESTU_HORASSEMANATRABAJA         661643 non-null  object
 6   FAMI_ESTRATOVIVIENDA            660363 non-null  object
 7   FAMI_TIENEINTERNET              665871 non-null  object
 8   FAMI_EDUCACIONPADRE             669322 non-null  object
 9   FAMI_EDUCACIONMADRE             668836 non-null  object
 10  ESTU_PAGOMATRICULAPROPIO        686002 non-null  object
 11  RENDIMIENTO_GLOBAL              692500 non-null  object
dtypes: int64(2), object(10)
memory usage: 63.4+ MB

#Columna PERIODO

Se muestran los valores únicos de la columna periodo

In [ ]:
df_train['PERIODO'].unique()

array([20212, 20203, 20195, 20183, 20194, 20213, 20184, 20202, 20196])

Se busca cuántas veces se repite cada valor

In [ ]:
df_train.PERIODO.value_counts()

PERIODO
20195    180873
20203    171838
20212    171412
20183    164818
20194      1472
20213      1178
20202       490
20184       254
20196       165
Name: count, dtype: int64

Se buscan los valores nulos

In [ ]:
df_train['PERIODO'].isna().sum()

0

Se agrupan los periodos por años y no por semestres

In [ ]:
df_train['PERIODO'] = df_train['PERIODO'].astype('category')
df_train['PERIODO'] = df_train['PERIODO'].astype(str).str.replace(r'2018.*', '2018', regex=True)
df_train['PERIODO'] = df_train['PERIODO'].astype(str).str.replace(r'2019.*', '2019', regex=True)
df_train['PERIODO'] = df_train['PERIODO'].astype(str).str.replace(r'2020.*', '2020', regex=True)
df_train['PERIODO'] = df_train['PERIODO'].astype(str).str.replace(r'2021.*', '2021', regex=True)

Se muestra la columna periodo

In [ ]:
df_train['PERIODO']

0         2021
1         2021
2         2020
3         2019
4         2021
          ...
692495    2019
692496    2021
692497    2018
692498    2019
692499    2019
Name: PERIODO, Length: 692500, dtype: object

Se codifica la columna periodo

In [ ]:
from sklearn.preprocessing import OneHotEncoder
encode = OneHotEncoder()
codificador = encode.fit_transform(df_train[['PERIODO']])
arreglo = codificador.toarray()
periodo = pd.DataFrame(arreglo,
                       columns = encode.categories_)

Se modifica el df

In [ ]:
df_train = pd.concat([df_train, periodo], axis = 'columns')
df_train = df_train.drop('PERIODO', axis=1)

Se muestra el nuevo df

In [ ]:
df_train.head()

,ID,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL,"(2018,)","(2019,)","(2020,)","(2021,)"
0,904256,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Postgrado,No,medio-alto,0.0,0.0,0.0,1.0
1,645256,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Técnica o tecnológica incompleta,No,bajo,0.0,0.0,0.0,1.0
2,308367,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,No,bajo,0.0,0.0,1.0,0.0
3,470353,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Secundaria (Bachillerato) completa,No,alto,0.0,1.0,0.0,0.0
4,989032,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Primaria completa,No,medio-bajo,0.0,0.0,0.0,1.0

#Columna ESTU_PRGM_ACADEMICO

Cantidad de veces que se repiten los valores

In [ ]:
df_train["ESTU_PRGM_ACADEMICO"].value_counts()

ESTU_PRGM_ACADEMICO
DERECHO                                                   53244
ADMINISTRACION DE EMPRESAS                                51902
CONTADURIA PUBLICA                                        39664
PSICOLOGIA                                                31932
INGENIERIA INDUSTRIAL                                     28481
                                                          ...
LICENCIATURA EN ESPAÑOL Y FILOLOGÍA                           1
ADMINISTRACION EN NEGOCIOS INTERNACIONALES                    1
ADMINISTRACION DE COMERCIO EXTERIOR                           1
LICENCIATURA EN EDUCACI¿N F¿SICA RECREACI¿N Y DEPORTES        1
PROFESIONAL EN INVESTIGACIÓN CRIMINAL                         1
Name: count, Length: 948, dtype: int64

Se instala la librería unidecode

In [ ]:
!pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.3.8-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.3.8-py3-none-any.whl (235 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.5/235.5 kB 4.3 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.8

Se agrupan los programas academicos para evitar duplicados por datos mal redactados

In [ ]:
from unidecode import unidecode
import re

replacements = {
    r'INGENIER\?A': 'INGENIERIA',
    r'INGENIIERIA': 'INGENIERIA',
    r'EDUCACI\?N\b': 'EDUCACION',
    r'RECREACI\?N\b': 'RECREACION',
    r'F\?SICA\b': 'FISICA',
    r'ESC\?NICAS\b': 'ESCENICAS',
    r'MATEM\?TICAS\b': 'MATEMATICAS',
    r'FILOSOF\?A\b': 'FILOSOFIA',
    r'DISE\?O\b': 'DISEÑO',
    r'DISE\?\?O\b': 'DISEÑO',
    r'COMUNICACI\?N\b': 'COMUNICACION',
    r'COMUNICACI\?\?N\b': 'COMUNICACION',
    r'GR\?\?FICA\b': 'GRAFICA',
    r'EL\?CTRICA\b': 'ELECTRICA',
    r'QU\?MICA\b': 'QUIMICA',
    r'FARMAC\?UTICA\b': 'FARMACEUTICA',
    r'ADMINISTRACI\?N\b': 'ADMINISTRACION',
    r'P\?BLICA\b': 'PUBLICA',
    r'INGL\?S\b': 'INGLES',
    r'\?NFASIS\b': 'ENFASIS',
    r'GESTI\?N\b': 'GESTION',
    r'M\?SICA\b': 'MUSICA',
    r'ECONOM\?A\b': 'ECONOMIA',
    r'GASTRONOM\?A\b': 'GASTRONOMIA',
    r'B\?SICA\b': 'BASICA',
    r'GEOLOG\?A\b': 'GEOLOGIA',
    r'PEDAGOG\?A\b': 'PEDAGOGIA',
    r'ART\?STICA\b': 'ARTISTICA',
    r'LOG\?STICA\b': 'LOGISTICA'
}

general_replacements = [
    (r'.*INGENIERIA.*', 'INGENIERIA'),
    (r'ADMINISTRACION.*', 'ADMINISTRACION'),
    (r'DISEÑO.*', 'DISEÑO'),
    (r'DISENO.*', 'DISEÑO'),
    (r'LICENCIATURA.*', 'LICENCIATURA'),
    (r'CIENCIA.*', 'CIENCIAS'),
    (r'COMUNICACION.*', 'COMUNICACION'),
    (r'GESTION.*', 'GESTION'),
    (r'FILOSOFIA.*', 'FILOSOFIA'),
    (r'QUIMICA.*', 'QUIMICA'),
    (r'NEGOCIOS.*', 'NEGOCIOS'),
    (r'.*MERCAD.*', 'MERCADEO'),
    (r'MATEMATICAS.*', 'MATEMATICAS'),
    (r'.*ARTE.*', 'ARTES'),
    (r'ESTUDIOS.*', 'ESTUDIOS'),
    (r'FINANZAS.*', 'FINANZAS'),
    (r'CONSTRUCCION.*', 'CONSTRUCCION'),
    (r'DIRECCION.*', 'DIRECCION'),
    (r'RELACIONES.*', 'RELACIONES'),
    (r'GEO.*', 'GEOGRAFIA'),
    (r'PROFESIONAL.*', 'PROFESIONAL'),
    (r'LENG.*', 'LENGUAS'),
    (r'ADMIN.*', 'ADMINISTRACION'),
    (r'.*DEPORT.*', 'DEPORTE'),
    (r'.*BIOLOGIA.*', 'BIOLOGIA'),
    (r'CINE.*', 'CINE'),
    (r'CONTADURIA.*', 'CONTADURIA'),
    (r'COMERCIO.*', 'COMERCIO'),
    (r'.*LITERA.*', 'LITERATURA'),
    (r'.*FILOL.*', 'FILOLOGIA'),
    (r'PUBLICI.*', 'PUBLICIDAD'),
    (r'MARK.*', 'MERCADEO'),
    (r'HISTORIA.*', 'HISTORIA'),
    (r'.*MUSICA.*', 'MUSICA'),
    (r'.*VETE.*', 'VETERINARIA'),
    (r'.*ZOO.*', 'VETERINARIA'),
    (r'.*GASTR.*', 'GASTRONOMIA'),
    (r'.*QUIRURGICA.*', 'MEDICINA'),
    (r'ECONO.*', 'ECONOMIA'),
    (r'GEREN.*', 'GERENCIA'),
    (r'HOTELERIA.*', 'HOTELERIA'),
    (r'.*PSICOLO.*', 'PSICOLOGIA'),
    (r'.*AGRO.*', 'AGRONOMIA')
]

def clean_text(text):
    text = unidecode(text).upper().strip()
    text = re.sub(r'\s+', ' ', text)
    text = re.sub(r'^PROFESIONAL EN\s+', '', text)
    for pattern, replacement in replacements.items():
        text = re.sub(pattern, replacement, text)
    for pattern, replacement in general_replacements:
        text = re.sub(pattern, replacement, text)
    return text

df_train['ESTU_PRGM_ACADEMICO'] = df_train['ESTU_PRGM_ACADEMICO'].apply(clean_text)

Se muestra la cantidad de diferentes tipos de programas que hay

In [ ]:
len(df_train['ESTU_PRGM_ACADEMICO'].unique())

110


Se hacen 2 grupos: uno con los programas más conocidos y otro con el resto de programas

In [ ]:
programas_agrupados=['INGENIERIA','ADMINISTRACION','DISEÑO','LICENCIATURA','CIENCIAS','COMUNICACION','GESTION','FILOSOFIA','QUIMICA','NEGOCIOS','MERCADEO',
'MATEMATICAS','ARTES','ESTUDIOS','FINANZAS','CONSTRUCCION','DIRECCION','RELACIONES','GEOGRAFIA','PROFESIONAL','LENGUAS', 'DEPORTE'
'BIOLOGIA','CINE','CONTADURIA','COMERCIO','LITERATURA','FILOLOGIA','PUBLICIDAD','HISTORIA','MUSICA','VETERINARIA','GASTRONOMIA'
'MEDICINA', 'ECONOMIA','GERENCIA','HOTELERIA','PSICOLOGIA','AGRONOMIA']

programas_otros = [elem for elem in df_train['ESTU_PRGM_ACADEMICO'] if elem not in programas_agrupados]

condicion = df_train['ESTU_PRGM_ACADEMICO'].isin(programas_otros)
df_train.loc[condicion, 'ESTU_PRGM_ACADEMICO'] = 'OTRAS'

Se muestran los nuevos valores de la columna

In [ ]:
df_train['ESTU_PRGM_ACADEMICO'].unique()

array(['OTRAS', 'MERCADEO', 'ADMINISTRACION', 'PSICOLOGIA', 'VETERINARIA',
       'INGENIERIA', 'HOTELERIA', 'LICENCIATURA', 'COMUNICACION',
       'CIENCIAS', 'GESTION', 'MUSICA', 'CONTADURIA', 'DISEÑO',
       'ECONOMIA', 'NEGOCIOS', 'QUIMICA', 'FINANZAS', 'RELACIONES',
       'ARTES', 'ESTUDIOS', 'CINE', 'FILOSOFIA', 'FILOLOGIA', 'GERENCIA',
       'LENGUAS', 'LITERATURA', 'AGRONOMIA', 'GEOGRAFIA', 'HISTORIA',
       'CONSTRUCCION', 'COMERCIO', 'PUBLICIDAD', 'MATEMATICAS',
       'DIRECCION', 'PROFESIONAL'], dtype=object)

Se codifica la columna

In [ ]:
encode = OneHotEncoder()
codificadorPr = encode.fit_transform(df_train[['ESTU_PRGM_ACADEMICO']])
arregloPr = codificadorPr.toarray()
programa = pd.DataFrame(arregloPr,columns = encode.categories_)

Se adapta el df

In [ ]:
df_train = pd.concat([df_train, programa], axis = 'columns')
df_train = df_train.drop('ESTU_PRGM_ACADEMICO', axis=1)

Se muestra el nuevo df

In [ ]:
df_train.head()

,ID,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL,...,"(MERCADEO,)","(MUSICA,)","(NEGOCIOS,)","(OTRAS,)","(PROFESIONAL,)","(PSICOLOGIA,)","(PUBLICIDAD,)","(QUIMICA,)","(RELACIONES,)","(VETERINARIA,)"
0,904256,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Postgrado,No,medio-alto,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,645256,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Técnica o tecnológica incompleta,No,bajo,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,308367,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,No,bajo,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,470353,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Secundaria (Bachillerato) completa,No,alto,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,989032,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Primaria completa,No,medio-bajo,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

#Columna ESTU_PRGM_DEPARTAMENTO

Se muestran los valores únicos de la columna

In [ ]:
df_train['ESTU_PRGM_DEPARTAMENTO'].unique()

array(['BOGOTÁ', 'ATLANTICO', 'SANTANDER', 'ANTIOQUIA', 'HUILA', 'SUCRE',
       'CAQUETA', 'CUNDINAMARCA', 'BOLIVAR', 'TOLIMA', 'VALLE', 'QUINDIO',
       'RISARALDA', 'CORDOBA', 'META', 'LA GUAJIRA', 'BOYACA', 'NARIÑO',
       'CAUCA', 'NORTE SANTANDER', 'CESAR', 'PUTUMAYO', 'CALDAS',
       'MAGDALENA', 'CHOCO', 'CASANARE', 'ARAUCA', 'GUAVIARE', 'AMAZONAS',
       'VAUPES', 'SAN ANDRES'], dtype=object)

Se agrupan los departamentos por regiones para minimizar la cantidad de valores en la columna

In [ ]:
#Agrupar region andina
def region_andina(dataframe, columna):
    reemplazos_andina = {
        'ANTIOQUIA': 'ANDINA',
        'BOYACA': 'ANDINA',
        'BOGOTÁ': 'ANDINA',
        'CALDAS': 'ANDINA',
        'CUNDINAMARCA': 'ANDINA',
        'HUILA': 'ANDINA',
        'NORTE SANTANDER': 'ANDINA',
        'QUINDIO': 'ANDINA',
        'RISARALDA': 'ANDINA',
        'SANTANDER': 'ANDINA',
        'TOLIMA': 'ANDINA'
    }
    for valor_original, valor_reemplazo in reemplazos_andina.items():
        dataframe[columna] = dataframe[columna].astype(str).str.replace(valor_original, valor_reemplazo, regex=True)
    return dataframe

#Agrupar region amazonia
def region_amazonia(dataframe, columna):
    reemplazos_amazonia = {
        'AMAZONAS': 'AMAZONIA',
        'CAQUETA': 'AMAZONIA',
        'VAUPES': 'AMAZONIA',
        'GUAINIA': 'AMAZONIA',
        'GUAVIARE': 'AMAZONIA',
        'PUTUMAYO': 'AMAZONIA'
    }
    for valor_original, valor_reemplazo in reemplazos_amazonia.items():
        dataframe[columna] = dataframe[columna].astype(str).str.replace(valor_original, valor_reemplazo, regex=True)
    return dataframe

#Agrupar region pacifica
def region_pacifica(dataframe, columna):
    reemplazos_pacifica = {
        'VALLE': 'PACIFICA',
        'CHOCO': 'PACIFICA',
        'CAUCA': 'PACIFICA',
        'NARIÑO': 'PACIFICA',
    }
    for valor_original, valor_reemplazo in reemplazos_pacifica.items():
        dataframe[columna] = dataframe[columna].astype(str).str.replace(valor_original, valor_reemplazo, regex=True)
    return dataframe

#Agrupar region caribe
def region_caribe(dataframe, columna):
    reemplazos_caribe = {
        'ATLANTICO': 'CARIBE',
        'BOLIVAR': 'CARIBE',
        'CESAR': 'CARIBE',
        'CORDOBA': 'CARIBE',
        'LA GUAJIRA': 'CARIBE',
        'MAGDALENA': 'CARIBE',
        'SUCRE': 'CARIBE',
        'SAN ANDRES': 'CARIBE'
    }
    for valor_original, valor_reemplazo in reemplazos_caribe.items():
        dataframe[columna] = dataframe[columna].astype(str).str.replace(valor_original, valor_reemplazo, regex=True)
    return dataframe

#Agrupar region orinoquia
def region_orinoquia(dataframe, columna):
    reemplazos_orinoquia = {
        'ARAUCA': 'ORINOQUIA',
        'CASANARE': 'ORINOQUIA',
        'META': 'ORINOQUIA',
        'VICHADA': 'ORINOQUIA'
    }
    for valor_original, valor_reemplazo in reemplazos_orinoquia.items():
        dataframe[columna] = dataframe[columna].astype(str).str.replace(valor_original, valor_reemplazo, regex=True)
    return dataframe

Se cambian los valores del df

In [ ]:
df_train = region_andina(df_train, 'ESTU_PRGM_DEPARTAMENTO')
df_train = region_amazonia(df_train, 'ESTU_PRGM_DEPARTAMENTO')
df_train = region_pacifica(df_train, 'ESTU_PRGM_DEPARTAMENTO')
df_train = region_caribe(df_train, 'ESTU_PRGM_DEPARTAMENTO')
df_train = region_orinoquia(df_train, 'ESTU_PRGM_DEPARTAMENTO')

Se muestran los nuevos valores de la columna

In [ ]:
print(df_train['ESTU_PRGM_DEPARTAMENTO'].unique())
print(df_train['ESTU_PRGM_DEPARTAMENTO'].isna().sum())

['ANDINA' 'CARIBE' 'AMAZONIA' 'PACIFICA' 'ORINOQUIA']
0

Se codifica la columna

In [ ]:
encode = OneHotEncoder()
codificadorDepto = encode.fit_transform(df_train[['ESTU_PRGM_DEPARTAMENTO']])

arrayDepartamento = codificadorDepto.toarray()
departamento = pd.DataFrame(arrayDepartamento,
                       columns = encode.categories_)
df_train = pd.concat([df_train, departamento], axis = 'columns')
df_train = df_train.drop('ESTU_PRGM_DEPARTAMENTO', axis=1)

Se muesta el nuevo df

In [ ]:
df_train.head()

,ID,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL,"(2018,)",...,"(PSICOLOGIA,)","(PUBLICIDAD,)","(QUIMICA,)","(RELACIONES,)","(VETERINARIA,)","(AMAZONIA,)","(ANDINA,)","(CARIBE,)","(ORINOQUIA,)","(PACIFICA,)"
0,904256,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Postgrado,No,medio-alto,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,645256,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Técnica o tecnológica incompleta,No,bajo,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,308367,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,No,bajo,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,470353,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Secundaria (Bachillerato) completa,No,alto,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,989032,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Primaria completa,No,medio-bajo,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

#Columna ESTU_VALORMATRICULAUNIVERSIDAD

Valores únicos de la columna

In [ ]:
df_train['ESTU_VALORMATRICULAUNIVERSIDAD'].unique()

array(['Entre 5.5 millones y menos de 7 millones',
       'Entre 2.5 millones y menos de 4 millones',
       'Entre 4 millones y menos de 5.5 millones', 'Más de 7 millones',
       'Entre 1 millón y menos de 2.5 millones',
       'Entre 500 mil y menos de 1 millón', 'Menos de 500 mil',
       'No pagó matrícula', nan], dtype=object)

Valores nulos de la columna

In [ ]:
df_train['ESTU_VALORMATRICULAUNIVERSIDAD'].isna().sum()

6287

Se llenan los campos nulos con 'No pagó matrícula'

In [ ]:
df_train['ESTU_VALORMATRICULAUNIVERSIDAD'] = df_train['ESTU_VALORMATRICULAUNIVERSIDAD'].fillna('No pagó matrícula')

La suma de los valores nulos ahora es 0

In [ ]:
df_train['ESTU_VALORMATRICULAUNIVERSIDAD'].isna().sum()

0

Se codifica la columna

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
valores_matricula = ['No pagó matrícula','Menos de 500 mil','Entre 500 mil y menos de 1 millón',
                     'Entre 1 millón y menos de 2.5 millones',
                     'Entre 2.5 millones y menos de 4 millones',
                     'Entre 4 millones y menos de 5.5 millones',
                     'Entre 5.5 millones y menos de 7 millones','Más de 7 millones']

encode = OneHotEncoder()


codificadorPr = encode.fit_transform(df_train[['ESTU_VALORMATRICULAUNIVERSIDAD']])
arregloPr = codificadorPr.toarray()
matricula = pd.DataFrame(arregloPr,
                       columns = encode.categories_)

Se arregla el df

In [ ]:
df_train = pd.concat([df_train, matricula], axis = 'columns')
df_train = df_train.drop('ESTU_VALORMATRICULAUNIVERSIDAD',axis=1)

Se muestra el nuevo df

In [ ]:
df_train.head()

,ID,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL,"(2018,)","(2019,)",...,"(Más de 7 millones,)","(No pagó matrícula,)","(Entre 1 millón y menos de 2.5 millones,)","(Entre 2.5 millones y menos de 4 millones,)","(Entre 4 millones y menos de 5.5 millones,)","(Entre 5.5 millones y menos de 7 millones,)","(Entre 500 mil y menos de 1 millón,)","(Menos de 500 mil,)","(Más de 7 millones,)","(No pagó matrícula,)"
0,904256,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Postgrado,No,medio-alto,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,645256,0,Estrato 3,No,Técnica o tecnológica completa,Técnica o tecnológica incompleta,No,bajo,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,308367,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,No,bajo,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,470353,0,Estrato 4,Si,No sabe,Secundaria (Bachillerato) completa,No,alto,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,989032,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Primaria completa,No,medio-bajo,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

#Columna ESTU_HORASSEMANATRABAJA

Valores únicos de la columna

In [ ]:
df_train['ESTU_HORASSEMANATRABAJA'].unique()

array(['Menos de 10 horas', '0', 'Más de 30 horas', 'Entre 21 y 30 horas',
       'Entre 11 y 20 horas', nan], dtype=object)

Veces en las que se repite cada valor

In [ ]:
df_train['ESTU_HORASSEMANATRABAJA'].value_counts()

ESTU_HORASSEMANATRABAJA
Más de 30 horas        249352
0                      116550
Entre 11 y 20 horas    115857
Entre 21 y 30 horas     92693
Menos de 10 horas       87191
Name: count, dtype: int64

Suma de los valores nulos de la columna

In [ ]:
df_train['ESTU_HORASSEMANATRABAJA'].isna().sum()

30857

Se rellenan los campos vacíos con '0'

In [ ]:
df_train['ESTU_HORASSEMANATRABAJA'] = df_train['ESTU_HORASSEMANATRABAJA'].fillna('0')

La cantidad de datos nulos ahora es 0

In [ ]:
df_train['ESTU_HORASSEMANATRABAJA'].isna().sum()

0

se codifica la columna

In [ ]:
horas_trabajo = ['0','Menos de 10 horas','Entre 11 y 20 horas',
                'Entre 21 y 30 horas',
                'Más de 30 horas']
encode = OneHotEncoder()

codificadorPr = encode.fit_transform(df_train[['ESTU_HORASSEMANATRABAJA']])
arregloPr = codificadorPr.toarray()
horas_trabajo = pd.DataFrame(arregloPr,
                       columns = encode.categories_)
df_train = pd.concat([df_train, horas_trabajo], axis = 'columns')
df_train = df_train.drop('ESTU_HORASSEMANATRABAJA',axis=1)

Se muestra el nuevo df

In [ ]:
df_train.head()

,ID,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL,"(2018,)","(2019,)","(2020,)",...,"(Entre 5.5 millones y menos de 7 millones,)","(Entre 500 mil y menos de 1 millón,)","(Menos de 500 mil,)","(Más de 7 millones,)","(No pagó matrícula,)","(0,)","(Entre 11 y 20 horas,)","(Entre 21 y 30 horas,)","(Menos de 10 horas,)","(Más de 30 horas,)"
0,904256,Estrato 3,Si,Técnica o tecnológica incompleta,Postgrado,No,medio-alto,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,645256,Estrato 3,No,Técnica o tecnológica completa,Técnica o tecnológica incompleta,No,bajo,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,308367,Estrato 3,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,No,bajo,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,470353,Estrato 4,Si,No sabe,Secundaria (Bachillerato) completa,No,alto,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,989032,Estrato 3,Si,Primaria completa,Primaria completa,No,medio-bajo,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

#Columna FAMI_ESTRATOVIVIENDA

Valores únicos de la columna

In [ ]:
df_train['FAMI_ESTRATOVIVIENDA'].unique()

array(['Estrato 3', 'Estrato 4', 'Estrato 5', 'Estrato 2', 'Estrato 1',
       nan, 'Estrato 6', 'Sin Estrato'], dtype=object)

Veces en las que se repite cada valor

In [ ]:
df_train['FAMI_ESTRATOVIVIENDA'].value_counts()

FAMI_ESTRATOVIVIENDA
Estrato 2      232671
Estrato 3      210685
Estrato 1      111991
Estrato 4       65514
Estrato 5       23608
Estrato 6       12605
Sin Estrato      3289
Name: count, dtype: int64

Cantidad de valores nulos de la columna

In [ ]:
df_train['FAMI_ESTRATOVIVIENDA'].isna().sum()

32137

Se llenan los valores nulos o vaciós por la moda de la columna (valor que más se repite en la columna)

In [ ]:
df_train['FAMI_ESTRATOVIVIENDA'] = df_train['FAMI_ESTRATOVIVIENDA'].fillna(df_train['FAMI_ESTRATOVIVIENDA'].mode()[0])

La cantidad de valores nulos ahora es 0

In [ ]:
df_train['FAMI_ESTRATOVIVIENDA'].isna().sum()

0

Se codifica la columna

In [ ]:
estratos = ['Sin Estrato','Estrato 1','Estrato 2',
            'Estrato 3', 'Estrato 4', 'Estrato 5',
            'Estrato 6']
encode = OneHotEncoder()
codificadorPr = encode.fit_transform(df_train[['FAMI_ESTRATOVIVIENDA']])
arregloPr = codificadorPr.toarray()
estrato = pd.DataFrame(arregloPr,
                       columns = encode.categories_)
df_train = pd.concat([df_train, estrato], axis = 'columns')
df_train = df_train.drop('FAMI_ESTRATOVIVIENDA',axis=1)

Se muestra el nuevo df

In [ ]:
df_train.head()

,ID,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL,"(2018,)","(2019,)","(2020,)","(2021,)",...,"(Entre 21 y 30 horas,)","(Menos de 10 horas,)","(Más de 30 horas,)","(Estrato 1,)","(Estrato 2,)","(Estrato 3,)","(Estrato 4,)","(Estrato 5,)","(Estrato 6,)","(Sin Estrato,)"
0,904256,Si,Técnica o tecnológica incompleta,Postgrado,No,medio-alto,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,645256,No,Técnica o tecnológica completa,Técnica o tecnológica incompleta,No,bajo,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,308367,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,No,bajo,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,470353,Si,No sabe,Secundaria (Bachillerato) completa,No,alto,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,989032,Si,Primaria completa,Primaria completa,No,medio-bajo,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

#Columna FAMI_TIENEINTERNET

Valores únicos de la columna

In [ ]:
df_train['FAMI_TIENEINTERNET'].unique()

array(['Si', 'No', nan], dtype=object)

Cantidad de valores nulos en la columna

In [ ]:
df_train['FAMI_TIENEINTERNET'].isna().sum()

26629

Cantidad de veces que se repiten los valores

In [ ]:
df_train['FAMI_TIENEINTERNET'].value_counts()

FAMI_TIENEINTERNET
Si    592514
No     73357
Name: count, dtype: int64

Se cambian los datos nulos o vacíos por 'No'

In [ ]:
df_train['FAMI_TIENEINTERNET'] = df_train['FAMI_TIENEINTERNET'].fillna("No")

La cantidad de datos vacíos ahora es 0

In [ ]:
df_train['FAMI_TIENEINTERNET'].isna().sum()

0

Se reemplazan los valores por valores numéricos

In [ ]:
df_train['FAMI_TIENEINTERNET'] = df_train['FAMI_TIENEINTERNET'].replace(r'Si', 1.).infer_objects()
df_train['FAMI_TIENEINTERNET'] = df_train['FAMI_TIENEINTERNET'].replace(r'No', 0.).infer_objects()

<ipython-input-64-08810c6d937e>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_train['FAMI_TIENEINTERNET'] = df_train['FAMI_TIENEINTERNET'].replace(r'No', 0.).infer_objects()

In [ ]:
df_train['FAMI_TIENEINTERNET'].value_counts()

FAMI_TIENEINTERNET
1.0    592514
0.0     99986
Name: count, dtype: int64

Se muestra el nuevo df

In [ ]:
df_train.head()

,ID,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL,"(2018,)","(2019,)","(2020,)","(2021,)",...,"(Entre 21 y 30 horas,)","(Menos de 10 horas,)","(Más de 30 horas,)","(Estrato 1,)","(Estrato 2,)","(Estrato 3,)","(Estrato 4,)","(Estrato 5,)","(Estrato 6,)","(Sin Estrato,)"
0,904256,1.0,Técnica o tecnológica incompleta,Postgrado,No,medio-alto,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,645256,0.0,Técnica o tecnológica completa,Técnica o tecnológica incompleta,No,bajo,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,308367,1.0,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,No,bajo,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,470353,1.0,No sabe,Secundaria (Bachillerato) completa,No,alto,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,989032,1.0,Primaria completa,Primaria completa,No,medio-bajo,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

#Columna ESTU_PAGOMATRICULAPROPIO

Valores únicos de la columna

In [ ]:
df_train['ESTU_PAGOMATRICULAPROPIO'].unique()

array(['No', 'Si', nan], dtype=object)

Veces que se repite cada valor

In [ ]:
df_train['ESTU_PAGOMATRICULAPROPIO'].value_counts()

ESTU_PAGOMATRICULAPROPIO
No    382201
Si    303801
Name: count, dtype: int64

Cantidad de datos nulos

In [ ]:
df_train['ESTU_PAGOMATRICULAPROPIO'].isna().sum()

6498

Se cambian los datos nulos por la moda de la columna

In [ ]:
df_train['ESTU_PAGOMATRICULAPROPIO'] = df_train['ESTU_PAGOMATRICULAPROPIO'].fillna(df_train['ESTU_PAGOMATRICULAPROPIO'].mode()[0])

Ahora la suma de los valores nulos es 0

In [ ]:
df_train['ESTU_PAGOMATRICULAPROPIO'].isna().sum()

0

Se reemplazan los valores por valores numéricos

In [ ]:
df_train['ESTU_PAGOMATRICULAPROPIO'] = df_train['ESTU_PAGOMATRICULAPROPIO'].replace(r'Si', 1.).infer_objects()
df_train['ESTU_PAGOMATRICULAPROPIO'] = df_train['ESTU_PAGOMATRICULAPROPIO'].replace(r'No', 0.).infer_objects()

<ipython-input-72-1fd44bfe3388>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_train['ESTU_PAGOMATRICULAPROPIO'] = df_train['ESTU_PAGOMATRICULAPROPIO'].replace(r'No', 0.).infer_objects()

Veces en las que se repite cada valor

In [ ]:
df_train['ESTU_PAGOMATRICULAPROPIO'].value_counts()

ESTU_PAGOMATRICULAPROPIO
0.0    388699
1.0    303801
Name: count, dtype: int64

Se muestra el nuevo df

In [ ]:
df_train.head()

,ID,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL,"(2018,)","(2019,)","(2020,)","(2021,)",...,"(Entre 21 y 30 horas,)","(Menos de 10 horas,)","(Más de 30 horas,)","(Estrato 1,)","(Estrato 2,)","(Estrato 3,)","(Estrato 4,)","(Estrato 5,)","(Estrato 6,)","(Sin Estrato,)"
0,904256,1.0,Técnica o tecnológica incompleta,Postgrado,0.0,medio-alto,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,645256,0.0,Técnica o tecnológica completa,Técnica o tecnológica incompleta,0.0,bajo,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,308367,1.0,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,0.0,bajo,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,470353,1.0,No sabe,Secundaria (Bachillerato) completa,0.0,alto,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,989032,1.0,Primaria completa,Primaria completa,0.0,medio-bajo,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

#Columna FAMI_EDUCACIONPADRE

Valores únicos de la columna

In [ ]:
df_train['FAMI_EDUCACIONPADRE'].unique()

array(['Técnica o tecnológica incompleta',
       'Técnica o tecnológica completa',
       'Secundaria (Bachillerato) completa', 'No sabe',
       'Primaria completa', 'Educación profesional completa',
       'Educación profesional incompleta', 'Primaria incompleta',
       'Postgrado', nan, 'Secundaria (Bachillerato) incompleta',
       'Ninguno', 'No Aplica'], dtype=object)

Veces en las que se repite cada valor

In [ ]:
df_train['FAMI_EDUCACIONPADRE'].value_counts()

FAMI_EDUCACIONPADRE
Secundaria (Bachillerato) completa      128289
Primaria incompleta                     125675
Educación profesional completa           83117
Secundaria (Bachillerato) incompleta     71654
Técnica o tecnológica completa           62995
Primaria completa                        55958
Postgrado                                44169
Educación profesional incompleta         27084
Técnica o tecnológica incompleta         22552
Ninguno                                  22008
No sabe                                  16592
No Aplica                                 9229
Name: count, dtype: int64

Cantidad de valores nulos

In [ ]:
df_train['FAMI_EDUCACIONPADRE'].isna().sum()

23178

Se cambia 'Ninguno' y No sabe' por 'No aplica', además los valores nulos también son cambiados por 'No aplica'

In [ ]:
df_train['FAMI_EDUCACIONPADRE'] = df_train['FAMI_EDUCACIONPADRE'].replace(r'Ninguno', 'No Aplica').infer_objects()
df_train['FAMI_EDUCACIONPADRE'] = df_train['FAMI_EDUCACIONPADRE'].replace(r'No sabe', 'No Aplica').infer_objects()
df_train['FAMI_EDUCACIONPADRE'] = df_train['FAMI_EDUCACIONPADRE'].fillna('No Aplica')

La cantidad de valores nulos ahora es 0

In [ ]:
df_train['FAMI_EDUCACIONPADRE'].isna().sum()

0

Cantidad de veces que se repite cada valor

In [ ]:
df_train['FAMI_EDUCACIONPADRE'].value_counts()

FAMI_EDUCACIONPADRE
Secundaria (Bachillerato) completa      128289
Primaria incompleta                     125675
Educación profesional completa           83117
Secundaria (Bachillerato) incompleta     71654
No Aplica                                71007
Técnica o tecnológica completa           62995
Primaria completa                        55958
Postgrado                                44169
Educación profesional incompleta         27084
Técnica o tecnológica incompleta         22552
Name: count, dtype: int64

se codifica la columna

In [ ]:

codificadorPr = encode.fit_transform(df_train[['FAMI_EDUCACIONPADRE']])

arregloPr = codificadorPr.toarray()
edu_padre = pd.DataFrame(arregloPr,
                       columns = encode.categories_)
df_train = pd.concat([df_train, edu_padre], axis = 'columns')
df_train = df_train.drop('FAMI_EDUCACIONPADRE',axis=1)

Se muestra el nuevo df

In [ ]:
df_train.head()

,ID,FAMI_TIENEINTERNET,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL,"(2018,)","(2019,)","(2020,)","(2021,)","(ADMINISTRACION,)",...,"(Educación profesional completa,)","(Educación profesional incompleta,)","(No Aplica,)","(Postgrado,)","(Primaria completa,)","(Primaria incompleta,)","(Secundaria (Bachillerato) completa,)","(Secundaria (Bachillerato) incompleta,)","(Técnica o tecnológica completa,)","(Técnica o tecnológica incompleta,)"
0,904256,1.0,Postgrado,0.0,medio-alto,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,645256,0.0,Técnica o tecnológica incompleta,0.0,bajo,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,308367,1.0,Secundaria (Bachillerato) completa,0.0,bajo,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,470353,1.0,Secundaria (Bachillerato) completa,0.0,alto,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,989032,1.0,Primaria completa,0.0,medio-bajo,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

#Columna FAMI_EDUCACIONMADRE

Valores únicos de la columna

In [ ]:
df_train['FAMI_EDUCACIONMADRE'].unique()

array(['Postgrado', 'Técnica o tecnológica incompleta',
       'Secundaria (Bachillerato) completa', 'Primaria completa',
       'Técnica o tecnológica completa',
       'Secundaria (Bachillerato) incompleta',
       'Educación profesional incompleta',
       'Educación profesional completa', 'Primaria incompleta', nan,
       'Ninguno', 'No Aplica', 'No sabe'], dtype=object)

Veces en las que se repite cada valor

In [ ]:
df_train['FAMI_EDUCACIONMADRE'].value_counts()

FAMI_EDUCACIONMADRE
Secundaria (Bachillerato) completa      141744
Primaria incompleta                      99420
Técnica o tecnológica completa           89542
Educación profesional completa           85326
Secundaria (Bachillerato) incompleta     81012
Primaria completa                        56125
Postgrado                                46246
Técnica o tecnológica incompleta         27533
Educación profesional incompleta         22470
Ninguno                                  14483
No sabe                                   3017
No Aplica                                 1918
Name: count, dtype: int64

Cantidad de valores nulos de la columna

In [ ]:
df_train['FAMI_EDUCACIONMADRE'].isna().sum()

23664

Se cambia 'Ninguno' y 'No sabe' por 'No aplica', además los valores nulos también son cambiados por 'No aplica'

In [ ]:
df_train['FAMI_EDUCACIONMADRE'] = df_train['FAMI_EDUCACIONMADRE'].replace(r'Ninguno', 'No Aplica').infer_objects()
df_train['FAMI_EDUCACIONMADRE'] = df_train['FAMI_EDUCACIONMADRE'].replace(r'No sabe', 'No Aplica').infer_objects()
df_train['FAMI_EDUCACIONMADRE'] = df_train['FAMI_EDUCACIONMADRE'].fillna('No Aplica')

La cantidad de valores nulos ahora es 0

In [ ]:
df_train['FAMI_EDUCACIONMADRE'].isna().sum()

0

Se codifica la columna

In [ ]:

encode = OneHotEncoder()
codificadorPr = encode.fit_transform(df_train[['FAMI_EDUCACIONMADRE']])

arregloPr = codificadorPr.toarray()
edu_madre = pd.DataFrame(arregloPr,
                       columns = encode.categories_)
df_train = pd.concat([df_train, edu_madre], axis = 'columns')
df_train = df_train.drop('FAMI_EDUCACIONMADRE',axis=1)

Se muestra el nuevo df

In [ ]:
df_train.head()

,ID,FAMI_TIENEINTERNET,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL,"(2018,)","(2019,)","(2020,)","(2021,)","(ADMINISTRACION,)","(AGRONOMIA,)",...,"(Educación profesional completa,)","(Educación profesional incompleta,)","(No Aplica,)","(Postgrado,)","(Primaria completa,)","(Primaria incompleta,)","(Secundaria (Bachillerato) completa,)","(Secundaria (Bachillerato) incompleta,)","(Técnica o tecnológica completa,)","(Técnica o tecnológica incompleta,)"
0,904256,1.0,0.0,medio-alto,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,645256,0.0,0.0,bajo,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,308367,1.0,0.0,bajo,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,470353,1.0,0.0,alto,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,989032,1.0,0.0,medio-bajo,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

Se crea el archivo en Excel para luego ser usado en el modelo solución

In [ ]:
import numpy as np
np.unique(df_train['RENDIMIENTO_GLOBAL'].values)

array(['alto', 'bajo', 'medio-alto', 'medio-bajo'], dtype=object)

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

rendimientos = ['bajo', 'medio-bajo', 'medio-alto', 'alto']
cod = OrdinalEncoder(categories = [rendimientos])

df_train['RENDIMIENTO_GLOBAL'] = cod.fit_transform(df_train[['RENDIMIENTO_GLOBAL']])

In [ ]:
df_train = df_train.drop('ID', axis=1)

In [ ]:
file_excel = df_train.to_csv("df_train_PPC2.csv", index = False)

In [ ]:
from google.colab import files
files.download('df_train_PPC2.csv')